# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/src/main/resources/gas.csv
/src/main/resources/power.csv
/src/main/resources/serviceAccount.json